body{
    background-color: black;

}

#userMenu{

    background-color: orange;
    position:fixed;
    height:50px;
    width:100%;
    top:0;
    left:0;


    z-index: 10;
}

#userMenu h1{
    float:left;
    margin-left:40px;
    color: black;
    font-size: 40px;
    margin-top:0;

}

#userMenu span{

    float:right;
    margin: 20px;
    margin-top: 10px;
    font-size: 150%;

    color: white;

}



#userMenu span a{
    text-decoration: none;
    color: white;
}

#sidebar{
    background-color: orange;
    position:fixed;
    margin-top:50px;
    margin-right:0;

    height:100%;
    width:200px;
    margin-left:0;
    left:0;
    top:0;
    overflow: auto;
    z-index: 10;


}

#sidebar ul{
    padding-left: 0;



}

#sidebar #play-lists{
    background-color: rgba(0,0,0,0.2);
    margin-bottom: 50px;

}

#sidebar ul li{
    list-style-type: none;
    outline-color: black;
    left:0;

}

#sidebar img{
    width: 20px;
    position: absolute;
    margin-top: 13px;
    margin-left:10px;
    z-index: -2;
}

#sidebar form{
    height: 30px;
    padding-left: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#sidebar .text-box{
    height:100%;
    font-size: 14px ;

}



#sidebar a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding:15px 20px;
    padding-left: 40px; /*making space for images*/
    display: block;
}

#sidebar a:hover{
    background-color: rgba(0,0,0,0.5);
}

@media(max-width: 550px){

    #sidebar{
        margin-top:0px;
        width: 40px;
        overflow: hidden;
    }

    #sidebar .text-box{
        display:none;

    }





}