body{
    background-color:black;
    background-image: url(Resources/background-Signup.jpg);
    background-size: 1500px;
    background-repeat: no-repeat;
    font-family: sans-serif;
}

h1{
    font-family: "Gotham", Gadget, sans-serif;
    font-size: 50px;
    color: black;
    text-align: center;
}

div{

    margin-left: 30%;
    margin-right: 30%

}

form .textbox{
    width:90%;
    margin-left:4%;
    margin-right:5%;
    font-size: 100%;
    text-align: center;
    height: 50px;
}

form #submit{

    width:90%;
    margin:5%;
    font-size: 200%;
    background-size: 50px;
    background-color: white;
    color: orange;

}